/* ROOT */
.root {
    -fx-accent: #287b97;
}


/* MENU */
.menu-bar {
    /*-fx-background-color: #;*/
}

.menu {
    -fx-padding: 4 8 4 8;
}

.menu .right-container .arrow {
    /*-fx-background-color: #;*/
}

.menu .label {
    /*-fx-text-fill: #;*/
}

.check-menu-item .check {
    /*-fx-background-color: #;*/
}

.radio-menu-item:checked > .left-container > .radio {
    /*-fx-background-color: #;*/
}

.context-menu {
    /*-fx-background-color: #;*/
}

.context-menu .menu-item {
    -fx-font-size: 12;
    -fx-padding: 3 12 3 12;
}

.context-menu .menu-item. .label {
    /*-fx-text-fill: #;*/
}

.context-menu .label {
    /*-fx-text-fill: #;*/
}

.tool-bar {
    /*-fx-background-color: #;*/
    -fx-spacing: 8;
}

.separator .line {
    /*-fx-border-color: #;*/
    -fx-border-width: .5;
}

.button {
    /*-fx-background-color: #;*/
}

.button:hover {
    /*-fx-background-color: #;*/
}

.button:pressed {
    /*-fx-background-color: #;*/
}

.tooltip {
    -fx-text-fill: #e9f0fb;
    -fx-background-color: #000000b0;
    -fx-padding: 4 8;
    -fx-font-size: 11;
}

/* TEXT AREA */

.tab-pane .tab-header-area .tab-header-background {
    /*-fx-background-color: #;*/
}

.tab-pane .tab-close-button {
    /*-fx-background-color: #;*/
}

#editor-box {
    /*-fx-background-color: #;*/
}

.tab {
    /*-fx-background-color: #;*/
}

.tab .tab-label {
    -fx-font-size: 12;
    /*-fx-text-fill: #;*/
}

.text-area {
    /*-fx-text-fill: #;*/
    /*-fx-background-color: #;*/
    -fx-highlight-fill: #287b97;
    -fx-highlight-text-fill: #ffffff;
}

.text-area:focused {
    -fx-highlight-fill: #287b97;
    -fx-highlight-text-fill: #ffffff;
}

.text-area .content {
    /*-fx-background-color: #;*/
}

.scroll-bar:vertical {
    -fx-pref-width: 10;
}

.scroll-bar:horizontal {
    -fx-pref-height: 10;
}

.scroll-bar .thumb {
    -fx-background-color: #a3a3a4;
}

.scroll-bar .track {
    -fx-background-color: transparent;
}

.scroll-pane .corner {
    -fx-background-color: transparent;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-shape: "";
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-shape: "";
    -fx-padding: 0;
}

/* FOOTER */

#notification-box {
    /*-fx-background-color: #;*/
}

#notification-box .label {
    /*-fx-text-fill: #;*/
}