
/* SCROLLBAR */

.scroll-bar:vertical {
    -fx-pref-width: 8;
}

.scroll-bar:horizontal {
    -fx-pref-height: 8;
}

.scroll-bar .thumb {
    -fx-background-color: #a3a3a4;
}

.scroll-bar .track {
    -fx-background-color: transparent;
}

.scroll-pane .corner {
    -fx-background-color: transparent;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-shape: "";
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-shape: "";
    -fx-padding: 0;
}
